<!DOCTYPE html>
<html>
<head>
    <title>Travel Blog</title>
    <style>
        h1 {
            color: blue;
        }
        p {
            font-size: 18px;
        }
    </style>
</head>
<body>
    <h1>My Travel Blog</h1>
    <p>Welcome to my travel blog website!</p>
    <img src="/images/beach.jpg" alt="Beach">
</body>
</html>