<!DOCTYPE html>
<html>
<head>
    <title>Movie Club</title>
</head>
<body>

    <h1>Movie Club Login</h1>

    <form action="/createUser" method="post">

        <label>Email</label><br>
        <input type="text" name="email"><br><br>

        <label>Password</label><br>
        <input type="password" name="password"><br><br>

        <input type="submit" value="Join Movie Club">

    </form>

    <% if(errors && errors.length > 0){ %>

        <ul>

            <% errors.forEach(function(error){ %>

                <li><%= error.msg %></li>

            <% }) %>

        </ul>

    <% } %>

</body>
</html>