<!DOCTYPE html>
<html>
<head>
    <title>Hobby Page</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>Dancing</h1>
    <p>Dancing is my favorite hobby. It keeps me active, helps me express myself creatively, and is a great way to stay fit and have fun with friends.</p>
    <img src="images/dance.jpg" alt="Hobby Image">
</body>
</html>
